/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/*--------------RESET------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------RESET------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/*--------------MOBILE FIRST !-----------------*/

html{
  font-family: 'Montserrat', sans-serif;
  color:#2C303F;
}
h1{
  font-size: 3em;
  text-align:left;
  margin: 30px 0;
  width: 80%;
}
h2{
  font-size: 2em;
  text-align:left;
  margin: 30px 0;
  width: 80%;
}
p{
  color: #5b5e6d;
}
nav{
  width: 100%;
  position: fixed;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 1;
  top:0;
  box-shadow: 0px -7px 10px #5b5e6d;
}
nav img{
  width: auto;
  height: 80px;
  margin-left: 20px;
}
nav ul{
  height: 80px;
  line-height: 80px;
  margin-right: 20px;
}
nav ul li{
  display: inline;
  display:none;
}
header{
  margin-top: 80px;
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}
header img{
  order:3;
  width: 100%;
}
header p, main div p{
  width: 80%;
  line-height: 1.5;
  margin: 30px;
}
header button,main div button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #192592;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px 20px;
  display: block;
  width: 80%;
  font-weight: 800;
  margin: 20px;
}
input{
  border: 1px solid #5b5e6d;
  border-radius: 4px;
  color: #8e8e8e;
  font-size: 1em;
  text-decoration: none;
  padding: 20px 0px;
  display: block;
  width: 80%;
  margin:20px 20px 0px 20px;
}
main{
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: white;
  margin: 30px 0;
}
main div{
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main div:first-child{
  background:  #F4F3F4;
  padding-bottom: 50px;
}
main div img{
  width: 50%;
  margin: 50px;
}
main div button.white-btn{
  background:white;
  border:1px solid #192592;
  color: #192592;
}
footer{
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: white;
  margin: 30px 0 0 0;
 box-shadow: 0px -23px 8px -29px #5b5e6d;
 font-size: 0.8rem;
}
footer div{
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
footer div:nth-child(2){
  background:  #F4F3F4;
  margin-top: 40px;
}
footer div ul{
  width: 40%;
  padding-left: 5%;
}
footer ul li{
  margin: 20px 0;
}
footer div:first-child ul li:first-child{
  font-weight: 800;
}
footer div:first-child img{
  margin-right: 70%;
  width: 30%;
}
footer div:nth-child(2) ul{
  width: 100%;
  margin: 15px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
}
footer div:nth-child(2) ul li{
 display: inline;
 margin: 15px;
 text-align: center;
}
footer div:nth-child(2) div{
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}

footer div:nth-child(2) div img{
  width: 30px;
  margin: 10px 20px 10px 10px;
}
footer div:nth-child(2) div i{
  font-size: 20px;
  color: #5b5e6d;
  margin: 0 10px;
}
footer div:nth-child(2) div i.fa-chevron-down{
  font-size: 20px;
}

.text-center{
  text-align: center;
}
.margin-small{
  margin: 30px 0px 0px 0px;
}
@media screen and (min-device-width: 767px) and (max-device-width: 961px) { 
  header {
    flex-direction: row;
    flex-wrap: wrap;
}
input {
  width: 50%;
  margin: 20px 20px 20px 0px;
}
header button, main div button {
  width: 30%;
  margin: 20px 0px;
  padding: 20px 10px;
}
main div {
  flex-direction: row;
  flex-wrap: wrap;
}

main div button.white-btn{
  width: 60%;
}
main div img {
  width: 35%;
  margin: 40px;
}
footer div:first-child {
  flex-wrap: nowrap;
}
footer div:first-child img {
  width: 15%;
  margin-right: 0;
}
footer div:first-child ul{
  width: 19%;
  padding-left: 2%;
}
footer div:nth-child(2) {
  flex-wrap: nowrap;
  align-items: center;
}
footer div:nth-child(2) div {
  margin: 0;
}
}